
body {
    background-color: black;
    color: orange;
    font-size: 30px;
    font-family: 'Anton', sans-serif;
    margin: 12px;
}

.logo {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

h1 {
    font-size: 50px;
    text-align: center;
}

.gamerules {
    text-align: center;
    padding: 15px;
}

.gameBox {
    height: 400px;
    width: 750px;
    border: white solid;
    border-width: 5px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px;
}

#game {
    padding: 20px;
    font-size: 30px;
}

#guessedLetters {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

button {
    display: block;
    margin-right: auto;
    margin-left: auto;
    size: 30px;
}

.game {
    display: block;
    margin-right: auto;
    margin-left: auto;
    border: orangered 2px solid;
}